---
import Container from "../../components/container.astro";
import { API_BASE_URL } from "../../constants";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(API_BASE_URL, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
        query AllSlugs {
          posts {
            nodes {
              slug
            }
          }
        }
        `,
    }),
  });

  // destructure data from our JSON
  const { data } = await response.json();

  //  assign the array of nodes to "posts" variable for usability
  const posts = data.posts.nodes;

  // transform our array of {slug: "post-slug"} objects into an array of {params: {slug: "post-slug"}}
  const paths = posts.map((post) => {
    return { params: post };
  });

  return paths;
}

const { slug } = Astro.params;

const singleResponse = await fetch(API_BASE_URL, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        query SinglePost($id: ID = "${slug}") {
          post(idType: SLUG, id: $id) {
            date
            content
            author{
              node{
                name
              }
            }
            title
            featuredImage {
              node {
                sourceUrl
              }
            }
          }
        }
        `,
  }),
});

// destructure data from our JSON
const { data } = await singleResponse.json();

//  assign the post info to singlePost variable for usability
const singlePost = data.post;
---

<Layout title="Blog | Nerdshouse Technologies">
  <Container>
    <article class="mx-auto max-w-3xl text-wrap mt-14">
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {singlePost.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400 capitalize">
          {singlePost?.author?.node?.name}
        </span>
        <span class="text-gray-400">•</span>
        <span class="text-gray-400">
          {
            new Date(singlePost.date).toLocaleDateString("en-us", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </span>
        <!-- <Image class="w-full object-cover aspect-2/3 mb-5" alt="" src={singlePost.featuredImage.node.sourceUrl} width={1500} height={1000} /> -->
        <!-- We can use the set:html directive with a self closing tag to output raw html -->
      </div>
      <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
        <div set:html={singlePost.content} />
      </div>
    </article>
  </Container>
  <div class="text-center mt-8">
    <a
      href="/blog"
      class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
      >← Back to Blog</a
    >
  </div>
</Layout>